* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

i {
    cursor: pointer;
}

main {
    background-color: #d2d4c9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: #358675;
    top: 0px;
}

#app-window {
    width: 1000px;
    height: 550px;
    z-index: 2;
}

#account-window {
    float: left;
    width: 35%;
    height: 100%;
    background-color: white;
    border-right: 1px solid #dad6d3;
}

.chat-window {
    float: left;
    width: 65%;
    height: 100%;
    background-color: white;
}

#account-bar {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portrait-small {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    margin-left: 6px;
}

.portrait-small img, .portrait img {
    width: 100%;
    height: 100%;
}

.menu-option {
    padding: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.menu-option i {
    margin-right: 8px;
}

#notification-alert {
    height: 70px;
    background-color: #8edafc;
    padding: 16px;
    display: flex;
    align-items: center;
}

#disable-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notification-text {
    font-size: 12px;
}

#notification-text p {
    font-weight: bold;
}

#notification-text a {
    color: rgba(0, 0, 0, 0.5);
}


#search-bar {
    height: 39px;
    background-color: white;
    border-bottom: 1px solid #dad6d3;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0 16px;
}

#contacts-search {
    border: 0px;
    height: 100%;
    width: 100%;
    padding: 0 16px;
}

#chat-item-container {
    height: calc(550px - 50px - 70px - 40px);
    overflow-y: scroll;
}

.chat-item {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-item.current {
    background-color: #e9ebea;
}

.portrait {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
}

.chat-preview {
    width: 100%;
    display:flex;
    align-items: center;
}

.preview-wrapper {
    width: calc(100% - 65px);
}

.preview-name-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.preview-name p {
    font-weight: bold;
}

.preview-time p {
    margin-right: 6px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.preview-message p {
    margin-top: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.chat-title-bar {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-title-left {
    display: flex;
    align-items: center;
}

.chat-title-text p:first-child {
    font-weight: bold;
}

.chat-title-text p:last-child {
    margin-top: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.chat-box {
    height: calc(550px - 50px - 50px);
    background-image: url("img/wallpaper.jpg");
    background-size: contain;
    overflow-y: scroll;
}

#container-chat-box {
    width: 80%;
    margin: auto;
}

.chat-utente-1 {
    position: relative;
    background-color: #d5f9b9;
    padding: 16px;
    float: right;
    clear: both;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 12px;
    word-wrap: normal;
}

.chat-utente-1::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    bottom: 10px;
    right: -5px;
    background-color: #d5f9b9;
    transform: rotate(45deg);
}

.chat-time-message {
    position: absolute;
    text-align: right;
    font-size: 8px;
    bottom: 4px;
    right: 6px;
    color: rgba(0, 0, 0, 0.5);
}

.chat-utente-2 {
    position: relative;
    background-color: white;
    padding: 16px;
    float: left;
    clear: both;
    margin-top: 6px;
    border-radius: 6px;
    font-size: 12px;
    word-wrap: normal;
}

.chat-utente-2::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    bottom: 10px;
    left: -5px;
    background-color: white;
    transform: rotate(45deg);
}

.text-box {
    height: 50px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.text-box i {
    padding: 0px 22px;
}

#write-text-box {
    padding: 8px;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    font-size: 13px;
    border: 0px;
}

.fa-paper-plane {
    display: none;
}

.fa-paper-plane:hover {
    color: #358675;
}

.template {
    display: none;
}
